[Desktop Entry]
Encoding=UTF-8
Name=DOPLR
Comment=DOPLR P2P Cryptocurrency
Comment[fr]=DOPLR, monnaie virtuelle cryptographique pair à pair
Comment[tr]=DOPLR, eşten eşe kriptografik sanal para birimi
Exec=doplr-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/doplr;
Categories=Office;Finance;
